.card-container {
  width: 200px;
  height: 200px; 
  border-radius: 20px;
  
 
  background-image: url('../../assets/cards/Card_Texture.png'); 
  background-size: cover;
  background-repeat: no-repeat;

  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-content {
  font-family: 'Pretendard Variable';
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.75);
}

.card-name {
  margin: 14px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1)
}