.simulation-right-panel {
    position: absolute;

    left: 35.8vw;
    top: 0;

    width: 64.2vw;
    height: 100vh;

    padding-top: 25.3vh;
    padding-left: calc(7.5vw + 20px);

    
    box-sizing: border-box;
    z-index: 10;
}

.simulation-content-frame {
    width: 680px;
    max-width: 100%;

    box-sizing: border-box;
}